.container {
  text-align: center;
  background-color: grey;
  margin:auto;
  margin-bottom: 200px;
  width: 50%;
  min-width: 350px;
  color: grey;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  border: solid grey 2px;
  margin-top: 250px;
  padding: 10px;
 }

 a.button {
   background-color: black;
   border: grey solid 1px;
   color: grey;
   padding: 20px;
   padding-top: 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 30px;
   border-radius: 12px;
   height: 30px;


}

 .arrow {
  height: 90px;
  width: 100px;
  margin-left: 70px;
}

 h2, .dream {
  margin-bottom: 0px;
  margin-top: 0px;
}

.reality-arrow  {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reality-arrow div {
  position: relative;
  display: flex;
  align-items: center;
}

.reality-arrow div img {
  position: absolute;
  top: -10px;
  left: 120px;
}

body {
  background-image: url("/Users/morganwalstrom/Portfolio-Site/pattern.png");
 }
